body {
  font-family:  "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.page-header a{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.container{
  display: flex;
  align-items: center;
  justify-content:  center;
  height: 90vh;
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.advanced{
  max-width: 1040px;
  min-width: 200px;
  width: 96%;
  margin: 80px 20px 0 20px;
  padding-left: 0;
  display: block;
  box-sizing: border-box;
}

h2{
  font-size: 100%;
  font-weight: normal;
}

form{
  padding: 10px;
  width: 100%;
  text-align: center;
}

.advanced form{
  text-align: start;
  box-sizing: border-box;
  font-size: 13px;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap:  10px;
}

.input{
  width:  100%;
  height: 46px;
  padding: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.input-border{
  width: 100%;
  height: 44px;
  border: 1px solid #aaaaaa;
  border-radius: 24px;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-advanced{
  width: 95%;
  max-width: 400px;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  height: 25px;
  padding: 1px 8px;
  cursor: text;
  margin-right: auto;
}

.button {
  width: auto;
  height: 35px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin: 0 4px;
  padding: 0 16px;
}

.label{
  margin: auto 0;
}

.advanced-button-border{
  border: none;
  margin: 0;
  padding: 1px 0 1px 18px;
}

.button-advanced{
  display: block;
  color: #fff;
  width:  auto;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  padding: 0 12px;
  height: 30px;
  margin-left: auto;
}
