body {
  margin: 0;
  min-width: 960px;
  font-family:  "Arial", sans-serif;
  font-size: 16px;
}

.page-header {
  margin: 0 0 60px;
  padding: 32px 32px 32px;
  max-width: 1408px;
  text-align: right;
  text-decoration: none;
}

.page-header a {
  margin-left: 28px;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}

.search-form  {
  margin: 300px;
  max-width: 1408px;
  text-align: center;
}

.form {
  width: 500px;
  height: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 24px;
}

.button {
  width: auto;
  height: 30px;
  text-align: center;
  margin: 10px;
}

.form-advanced {
  width: 500px;
  height: 20px;
  border: 1px solid #aaaaaa;
  margin: 40px;
}

.button-advanced {
  width: auto;
  height: 30px;
}

.advanced-search-form {
  margin: 50px 20px;
  max-width: 1408px;
  text-align: left;
}

div {
    border: 2px solid orangered;
    padding: 10px;
}

form {
    display: grid;
    grid-template-columns: 200px 550px;
    text-align: left;
}

.label {
    vertical-align: middle;
}

.input {
    text-align: right;
}

div input {
    width: 500px;
    height: 20px;
    vertical-align: middle;
}