body {
  font-family:  "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 2px solid red;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.page-header a{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.container{
  display: flex;
  align-items: center;
  justify-content:  center;
  border: 1px solid yellow;
  height: 90vh;
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*.search-form {
  display: block;
  padding: 10px;
  min-width: 300px;
  max-width: 600px;
  border: 1px solid pink;
}*/

form{
  border: 1px solid seagreen;
  padding: 10px;
  width: 100%;
}

.input{ 
  width: 100%;
  height: 30px;
  border: 1px solid #aaaaaa;
  /*border-radius: 24px;*/
  margin-bottom: 10px;
  padding: 5px;
}

.button {
  width: auto;
  height: 30px;
}
/*
.form-advanced {
  width: 500px;
  height: 20px;
  border: 1px solid #aaaaaa;
  margin: 40px;
}

.button-advanced {
  width: auto;
  height: 30px;
}

.advanced-search-form {
  margin: 50px 20px;
  max-width: 1408px;
  text-align: left;
}

form {
    display: grid;
    grid-template-columns: 200px 550px;
    text-align: left;
}

.label {
    vertical-align: middle;
}

.input {
    text-align: right;
}

div input {
    width: 500px;
    height: 20px;
    vertical-align: middle;
}*/