body {
  font-family:  "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 2px solid rebeccapurple;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.page-header a{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellowgreen;
}

.advanced{
  align-items: start;
  justify-content: flex-start;
  min-width: none;
  max-width: none;
  margin: 20px;
  border: 1px solid darkorange;
}

form{
  padding: 10px;
  width: 100%;
  text-align: center;
}

.input-border{ 
  width: 100%;
  height: 44px;
  border: 1px solid #aaaaaa;
  border-radius: 24px;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  width:  100%;
  height: 46px;
  padding: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.button {
  width: auto;
  height: 35px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin: 0 4px;
  padding: 0 16px;
}